#input-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#citoyen-container {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  border-radius: 50px;
  padding: 50px;
  margin-bottom: 100px;
}

#title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: -20px;
  color: #1976d2;
}

.vaccin-detail-container {
  margin-left: 100px;
  margin-bottom: 40px;
}
